img {
    height: 300px;
    width: 300px;
    margin: 25px 0;
}
#emile {
    color: red;
}
#jon {
    color: blue;
}
#tim {
    color: green;
}
.youtube {
    color: red;
}
.facebook {
    color: blue;
}
.twitter {
    color: lightblue;
}
.twitch {
    color: purple;
}
li {
    padding: 5px 0;
}
p {
    margin: 0 25px 25px;
}
footer {
    margin: 50px 0 0;
}
figure img{
    height: 200px;
    width: auto;
}